/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.8 Georgia, serif; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }