/* task02 stylesheet, created by lidikang on 2016/10/31 */
/* reset styles */
html, body, header, nav, div, a , img, h1, h2, p, section, footer, table, ol, ul, li{
	padding: 0;
	margin: 0;
}
body{
	font-size: 14px;
	font-weight: normal;
	font-family: "Arial"
}
header{
	background: rgb(51, 122, 183);
	padding: 15px 20px;
	color: #fff;
}
nav > a > img{
	width: 200px
}
.nav-right{
	float: right;
}
/*使用after伪元素清除浮动*/
.nav-right::after{
	content: "";
	display: block;
	clear: both;
}
.nav-right > ul > li{
	display: inline;
	list-style: square;
	line-height: 49px;
	margin-left: 10px;
}
/* 去掉最后一个元素的margin-left */
.nav-right > ul > li:last-child{
	margin-right: 0px;
}

.content{
	background-color: #E1E1E1;
	padding: 20px;
}
.content > section{
	background-color: #fff;
	box-shadow: 5px 5px 3px #747171;
	padding: 20px;
	margin-bottom: 20px;
}
.content > section:last-child{
	margin-bottom: 0px;
}
.content > section > h1{
	font-size: 24px;
	padding: 8px 0px;
}
.content > section > h2{
	font-size: 18px;
	padding: 6px 0px;
	color: #666;
}
.content > section > p{
	padding: 6px 0px;
}
.content > section > img{
	padding: 10px 0px;
}
.author-info{
	color: #666;
}
.project-ul{
	list-style: none;
	margin-left: 20px;
}
.beautiful-img{
	list-style: none;
	margin-left: 40px;
}
.beautiful-img > li{
	height: 150px;
	width: 150px;
	border: 1px solid #666;
	text-align: center;
	padding: 0px 20px 20px 20px; 
	margin-bottom: 20px;
}
.beautiful-img > li > p{
	padding: 6px;
}
.beautiful-img > li >img{
	width: 98%;
	height: 80%
}
.ranklist{
	margin-left: 40px;
}
.ranklist > li{
	padding: 4px;
}

/* about table */
.table{
	width: 100%;
	text-align: left;
	/* 消除border */
	border-collapse:collapse;
	border:none;
}
.table thead{
	background-color: #666;
	color: #fff;
}
.table th, td{
	border: 1px solid #a7a7a7;
}
.table tbody > tr:last-child{
	background-color: #e3e3e3;
}

/* style for aside */
.content > aside{
	background-color: #fff;
	box-shadow: 5px 5px 3px #747171;
	padding: 20px;
	margin-bottom: 20px;
}
.content > aside > h1{
	padding: 10px;
	border-left: 4px solid #999;
}
.content > aside > form .form-group{
	padding-left: 200px;
}
.tips{
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: 20px;
}
.vertical-middle{
	position: relative;
	top: 50%;
	transform: translateY(-100%);
}
.content > aside > form br{
	margin: 10px 0;
}
.error-msg{
	padding-left: 220px;
	color: #666;
}
.content > aside > form textarea{
	width: 60%;
}
.content > aside > form input[type="submit"] {
	padding: 10px 0px;
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: rgb(51, 122, 183);
	border: none;
	border-radius: 10px;
}
.content > aside > form input[type="submit"]:hover{
	 background-color: rgb(15, 127, 222);
}
footer{
	display: block;
	height: 60px;
	text-align: center;
	color: #fff;
	background: #333;
}
footer p{
	line-height: 60px
}