/*stylesheet 2016.11.10 wuyanqian*/
/*reset styles*/
@charset "utf-8";
html,body,header,footer,div,nav,section,img,time,a,span,p,ul,li{
	margin: 0px;
	padding: 0px;
}
p{
	text-indent: 20px;
	letter-spacing: 2px;
}
a{
	margin-bottom:-10px；
	padding: 0px;
}
html{
	display:table;
	height: 100%;
	min-width: 100%;
	background: #333;
}

body{
	padding: 0 40px;
	border:1px solid #eee;
	box-sizing: border-box;
	box-shadow: 2 2 5 #ddd;


	width: 74%;
	background: #fff;

	font-size: 14px;
	font-weight: normal;
	font-family: "微软雅黑";

	position:absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
}
.container{

}
nav{
	border-bottom:1px solid #333;
	margin-bottom:30px;
	position:relative;
}
.nav-right{
	float:right;
	position:absolute;
	bottom:1px;
	right:0px;
	transform: translateY(-50%);
}

/*part1*/

.part1{
	margin:40px -40px;
}
.part1-left{
	padding:0 40px;
	width: 100%;
	box-sizing: border-box;


}
.part1-left-content{
	margin-right: 26%;
/*padding-right: 258px;*/
box-sizing: border-box;
}
.part1-left-content>img{
	width: 100%;
	
}
.img1{
	line-height: 30px;
	margin-top:-4px;
}
.part1-right{
	margin-left:-26%;
	padding: 0px 40px 0px 0px;
	width:26%;
	box-sizing: border-box;
	overflow: hidden;
} 
.part1-right>span{
	display: block;
}
.container .content .part1 p{
	margin:0;
	padding:0;
}
.container .content .part1 .text-underline {
		font-size: 24px;
		font-style: bold;
}
.tech-des{
	font-size: 12px;
	word-break: break-all;
}
.text-700{
	font-size: 116px;
	color: #75b86b;
	line-height: 150px;
	font-style: italic;
}
.text-3-2{
	font-size: 55px;
	color:#cc8091;
	line-height: 40px;
	display: inline-block;
}
.text-css{
	font-size: 21px;
	color:#cc8091;

}
.text-3-2-des{
	display: inline-block;
}
.text-css-des{
	font-size: 12px;
	color: #cc8091;

}
/*part1媒体查询*/
@media  (max-width:768px){
	.part1-left{
		width: 100%;
		margin-right: 0;
	}
	.part1-left-content{
	margin-right: 0;
}
	 .part1-right{
		width: 100%;
		margin:0;
		padding:40px;
	}
}

/*part2*/

.part2{
	font-size: 12px;
	color:#231815;
	width: 74%;
}
.part2-what{
	width: 30%;
	margin-right: 5%;
	float:left;
}
.part2-when{
	width: 30%;
	margin-right: 5%;
	float:left;
}
.part2-how{
	width: 30%;
	margin-right: 0;
	float:left;

}
.what{
	font-size: 16px;
	color:#418c59;
	font-weight:bold ;

}
.when{
	font-size: 16px;
	color:#d2994f;
	font-weight:bold ;
}
.how{
	font-size: 16px;
	color:#cc7680;
	font-weight:bold ;
}
.list{
	list-style: none;
	margin-top:20px;
}
.text-percent{
	font-size: 12px;
	color:#cd4a48;
	font-style: italic;
}
/*part2媒体查询*/
@media  (max-width:768px){
	.part2-what,.part2-how,.part2-when{
		width: 100%;
/*		margin-top: 40px;*/
	}
	.part2{
		width: 100%;
	}
}


/*part3*/
.part3{
	margin:40px -40px;
	box-sizing: border-box;
}
.part3-left{
	padding:0 20px 0 40px;
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.part3-left-titile{
	margin-bottom: 30px;
	width: 100%;
	font-family: "黑体";
	border-bottom:2px solid #11456b;
}
.text-the{
	font-size:72px;
	font-style: italic;
	margin-right: 24px;
	font-weight: bold;	
	color:#f5e327;
}
.text-tech{
	margin-bottom: 16px;
	font-size: 42px;
	font-weight: bold;
	color: #11456b;

}
.text-frontarea{
	margin-bottom: 16px;
	font-size: 33px;
	color: #11456b;
	font-weight: bold;
}
.part3-content{
	width: 100%;
	font-size: 12px;
	font-family: "宋体";
}
.part3-content p{
	margin-bottom: 6px;
	line-height: 16px;
	text-align: top;
}
.img-frontarea{
	margin:6px 0 6px 6px;
	float:right;

}
.first-word{
	margin:0 6px 6px 0;
	line-height: 70px;
	font-size: 70px;
	font-family: "微软雅黑";
	color:#f5e327;
	float: left;
}

.part3-right{
	width: 50%;
	margin-top: 20px;
	padding-right:40px;
	float: left;
	box-sizing: border-box;
}
.part3-left-content{
	width: 100%;
	background-color: #eeedd6;
}
.part3-right>img{
	width: 100%;
	margin-bottom: 14px;
}
.part3-list{
	margin-left: 30px;
	padding: 20px 0;
	list-style: inside url('../images/task_1_6_1_18.png');
}
.part3-list-li{
	margin-bottom:20px;
}
.redbar{
	width: 260px;
	height: 160px;
	display: inline-block;
}
.part3-right-des{
	width: 40%;
display: inline-block;
}
.part3-right-des>p{

	display: inline-block;
}
.img-syh-left{
	display:inline-block;
	float: left;
}
.img-syh-right{
	display:inline-block;
}

.splitline{
	margin:40px 0 80px 0; 
	border-top: 1px solid #333;
}
/*part3媒体查询*/
@media  (max-width:768px){
	.part3-left,.part3-right{
		width: 100%;
		padding:0 40px;
	}
	.part3-right-content{
		padding: 10px;
	}
	.redbar{
	width: 100%;
	}
	.redbar>img{
		width: 100%;
	}
}

footer a{
	color: #d45d5c;
	font-size: 12px;
	text-decoration:none;
	float: right;

}
/*通用样式*/

.float-left{
	float: left;
}
.clearfix{
	clear: both;
}
.uppercase{
	text-transform: uppercase;

}
.underline{
	text-decoration:underline;
}
.bigger-size{
	font-size:28px;
}
.bold{
	font-weight:bold ;
}
.yellow{
	color:#f5e327;
}
.blue{
	color:#11456b;
}

