/*html,body {margin:0; padding:0; position:absolute; width:100%; height:100%; overflow: hidden}*/
#screen {
    display: block;
    width: 960px;
    height: 150px;
    background: #71ee6d;
    position: absolute;
    /*left:10%; top:60%;*/
    overflow: hidden
}

span.blue, span.green, span.gray, span.red {
    position: absolute;
    font-size: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.blue {
    background: #06c
}

.green {
    background: #4eb84a
}

.gray {
    background: #f3f3f3
}

.red {
    background: #da4901
}