/* task07 stylesheet, created by lidikang on 2016/11/13 */
/* reset css */
html, body, header, nav, div, a , img, h1, h2, p, section, footer, table, ol, ul, li{
    padding: 0;
    margin: 0;
}
html{
    display: table;
    min-width:100%;
    height: 100%;
}
body{
    height: 100%;
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
    font-family: "微软雅黑";
}
/* common style */
.pull-right{
	float: right;
}
.pull-right::after{
	content: "";
	display: block;
	clear: both;
}
a, a:hover{
	text-decoration: none !important;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
header nav{
	background-color: #fff;
	height: 60px;
}
header nav > a{
	line-height: 60px;
	height: 60px;
	margin-left: 50px;
	display: inline-block;
	color: #000;
	font-size: 20px;
}
header nav > a > img{
	margin-top: -6px;
}
header nav > a > span{
	line-height: 60px;
	padding-left: 10px;
    vertical-align: middle;
}
header nav .nav-right{
	padding-right: 50px;
}
header nav .nav-right > ul{
	display: inline-block;
}
header nav .nav-right > ul > li{
	display: inline-block;
	width: 80px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	box-sizing: border-box;
}
header nav .nav-right > ul > li.active{
	animation: bottomAnimation 1s;
	border-bottom: solid #e74f4d;
}
/* li下边框动画效果 */
@keyframes bottomAnimation
{
	0%   {border-bottom-width: 0px;}
	25%  {border-bottom-width: 1px;}
	50%  {border-bottom-width: 2px;}
	100% {border-bottom-width: 4px;}
}
header nav .nav-right > a > img{
	height: 20px;
	margin-top: -6px;
}
header nav .nav-right > a > span{
	margin-left: 6px;
	color: #e74f4d;
}

/* 巨幕 style */
.jumbotron{
	position: relative;
}
.jumbotron > img{
	width: 100%;
}
.jumbotron .fade_div{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: #fff;
    opacity: 0.1;
}
.jumbotron .jumbotron_text{
	position: absolute;
    top: 40%;
    left: 100px;
    transform: translateY(-50%);
    z-index: 1000;
    color: #fff;

}
.jumbotron .jumbotron_text > h1{
    font-size: 40px;
    margin-bottom: 0;
}
.jumbotron .jumbotron_text > p{
    font-size: 16px;
    margin-bottom: 30px;
}
.jumbotron .jumbotron_text > button{
	width: 230px;
    height: 40px;
    background-color: #e24848;
    border: none;
    font-size: 18px;
}

/* advantage style*/
.advantage .col-md-3{
	text-align: center;
    height: 200px;
    padding: 3% 0% 1% 0%;
    box-sizing: border-box;
}
.advantage .col-md-3 > img{
	margin-bottom: 30px;
}
.advantage .col-md-3 .advantage-des{
	padding: 0 20%;
    border-right: 2px solid #ddd;
    height: 40px;
}
.advantage .col-md-3 .advantage-des.last-child{
    border-right: none;
}
.what-unknown{
	background-color: #eee;
    height: 300px;
    text-align: center;
    padding-top: 60px;
}
.what-unknown > img{
	width: 80px;
    margin-bottom: 30px;
}
.what-unknown .huge-text{
	font-size: 40px;
	color: #999;
}
.find-activity{
	background: url(../images/selectBg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	padding: 4% 10%;
	height: 300px;
}
.find-activity > h1{
	margin-top: 0;
	margin-bottom: 5px;
    font-size: 20px;
    color: #fff;
}
.find-activity > hr{
	width: 30px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
.find-activity .tips{
	color: #fff;
}
.find-activity .select-group{
	margin-top: 30px;
}
.find-activity .select-group select{
	/*remove select default style*/
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin-right: 2%;
	height: 30px;
	border: none;
    /*define the right select icon*/
  	background: url('../images/select.png') no-repeat scroll right center #fff;
  	background-size: 25px 20px;
  	text-indent: 6px;
}
/* 我也不会怎么写option的样式，等我去研究下 */
.find-activity .select-group select option{
	text-indent: 10px;
  	background: url('../images/correct.png') no-repeat scroll left center #bf4e48;
}
.find-activity .select-group select option:hover {
    background-color: #f80;
    color: #fff;
}
#country-select, #province-select, #city-select, .find-activity .select-group > button{
	width: 23%;
}
.find-activity .select-group > button{
	height: 30px;
	border: none;
	background-color: #e24848;
	color: #fff;
}
.display-activity{
	background-color: #f8f8f8;
	height: 450px;
	padding-top: 50px;
}
.display-activity .col-md-3{
	text-align: center;
}
.display-activity .col-md-3 > img{
	width: 200px;
}
.display-activity .col-md-3 .activity-des{
	margin-top: 10px;
}
.display-activity .col-md-3 .activity-des.shanghai{
	/* 给上海活动专门定义类，定义不同的样式，从这个任务开始我给你写详细的注释，也不用英文注释装逼了 */
	margin-top: 0px;
}
.display-activity .col-md-3 .activity-des.shanghai > p > strong{
	/* 设置字体水平间距的方法 */
	letter-spacing: 15px;
	/*只设置上面的属性，字体不居中*/
	margin-left: 15px;
}
.display-activity .col-md-3 .activity-des > p{
	color: #888;
}
.display-activity .col-md-3 .activity-des > p > strong{
	/* strong 是语义化强调，会默认将字体加粗，这里去掉*/
	font-weight: normal;
	color: #000;
}
.banner .col-md-8, .banner .col-md-4{
	/*bootstrap的row，container都是默认带padding，这里去掉*/
	padding: 0;
}
.banner .col-md-8 .align1{
	background: url('../images/big_img1.jpg') no-repeat;
	background-size: cover;
	height: 450px;
	text-align: center;
	color: #fff;
	/*这里要加个相对定位，否则白色的小三角可就跑了*/
	position: relative;
}
/*写图片左边的白色三家按钮*/
.banner .col-md-8 .align1::after{
	content: "";
	position: absolute;
	right: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	/*居中*/
	top: 50%;
	transform: translateY(-50%);
	/*画呀画呀画三角，画得我想吐*/
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-right: 30px solid #fff;
	border-left: 0px solid transparent;
}
.banner .col-md-8 .align1 > p{
	font-size: 16px;
}
.banner .col-md-8 .align1 > h1{
	font-size: 40px;
	margin: 0;
	padding-top: 14%;
}
.banner .col-md-8 .align1 > p.huge-text{
	font-size: 90px;
	margin-top: -20px;
}
.banner .col-md-8 .align2{
	height: 400px;
}
.banner .col-md-8 .align2 .col-md-6{
	height: 100%;
	text-align: center;
	padding-top: 18%;
}
.banner .col-md-8 .align2 .col-md-6 p{
	font-size: 18px;
}
.banner .col-md-8 .align2 .col-md-6 > hr{
	width: 30px;
}
.banner .col-md-8 .align2 .col-md-6 > button{
	width: 120px;
	height: 40px;
}
.banner .col-md-8 .align2 .red-bg{
	background-color: #e24848;
	color: #fff;
}
.banner .col-md-8 .align2 .red-bg > button{
	background-color: #e24848;
	border: 1px solid #fff;
	color: #fff;
}
.banner .col-md-8 .align2 .white-bg{
	border: 1px solid #fff;
}
.banner .col-md-8 .align2 .white-bg > button{
	border: 1px solid #e24848;
	background: #fff;
	color: #e24848;
}
/*现在是凌晨37分，我的心情已经接近崩溃，本来打电话想告诉你，昨天晚上代码上线出现了严重错误，队长陪着我查了两个小时
**饭都没顾上吃，感觉人生一个大写的失败>_<，希望自己干了蠢事都能长记性，下次能做得更好。当然更希望你能把生活中开心和
**快乐都和我讲讲，也许不能都帮到你，可是我会认真听的。
*/
.banner .col-md-8 .align2 .white-bg  hr{
	color: #000;
}
.banner .col-md-4 .align1{
	height: 450px;
}
.banner .col-md-4 .align1 .tab{
	display: none;
	text-align: center;
	padding: 100px 30px 40px 30px;
}
.banner .col-md-4 .align1 .tab:first-child{
	/*默认显示第一个，后面的用js去控制*/
	display: block;
}
.banner .col-md-4 .align1 .tab > h1{
	font-size: 18px;
}
.banner .col-md-4 .align1 .tab > h1 .indexNum{
	font-size: 18px;
	color: #e24848;
}
.banner .col-md-4 .align1 .tab > p.des{
	font-size: 12px;
	color: #666;
	text-align: left;
	line-height: 20px;
	margin-bottom: 60px;
}
.banner .col-md-4 .align1 .tab > button{
	width: 100px;
	border: 1px solid #e24848;
	height: 30px;
	color: #e24848;
	background: #fff;
}
.banner .col-md-4 .align1 .spanBtnP{
	text-align: center;
}
.banner .col-md-4 .align1 .spanBtnP .spanBtn{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 1px solid #777;
	margin-right: 10px;
	/*移上去的时候变成手型*/
	cursor: pointer;
}
.banner .col-md-4 .align1 .spanBtnP .spanBtn:first-child{
	background-color: #666;
}
.banner .col-md-4 .align2{
	height: 400px;
}
.banner .col-md-4 .align2 > img{
	height: 400px;
	width: 100%;
}