@charset "utf-8";
html,body,a,div,button,form,input,p{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 16px;
	font-family: "微软雅黑";
	width: 100%;
	height: 100%;
}
.container{
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}
.login{
	text-align:center;
	background: rgba(250,250,250,0.95); ;
	height: 400px;
	width: 370px;
	padding: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	box-sizing: border-box;

}
.login>p:first-child{
	text-align: left;
	margin-bottom: 40px;
}
.login>p:last-child{
	text-align: right;
	margin-top: 60px;
	
}
.login>p>a{
	font-size: 14px;
	text-decoration: none;
}
.login input{
	width: 310px;
	height: 50px;
	border:1px solid #ccc;
	padding-left:40px; 
	box-sizing: border-box;
}
.login input:first-child{
	border-bottom:none;
	background: url(../images/user.png) no-repeat 10px;
	background-size:20px 20px;
}

.login .lo2{
	border-top:1px solid #ddd;
	background: url(../images/password.png) no-repeat  10px;
	background-size:20px 20px;
}
button{
	cursor: pointer;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #fff;
	height: 50px;
	width: 300px;
	background: rgb(90,210,90);
	margin-top:40px;
	border: none;
}