html,body{
	margin:0;
	padding:0;
	height: 100%;
}
body{
	height: 100%;
	background:#000;
	position: relative;
}
.clock{
	height: 70px;
	color: #fff;
	font-size: 60px;
	text-align: center;
	margin:auto 0;
/*	position:absolute;
	top: 50%;*/
}
.clock::before{
	clear: both;
}
.clock::after{
	clear: both;
}