/* task03 stylesheet, created by lidikang on 2016/11/01 */
/* reset styles */
html, body, header, nav, div, a , img, h1, h2, p, section, footer, table, ol, ul, li{
	padding: 0;
	margin: 0;
}
html{
	display: table;
  	min-width:100%;
  	height: 100%;
}
body{
	height: 100%;
	overflow: auto;
	font-size: 14px;
	font-weight: normal;
	font-family: "Arial";
}
.container{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.container::after{
	content: "";
	clear: both;
	display: block;
}
.container .main{
	width: 100%;
	float: left;
	height: 300px;
}
.container .main .content{
	margin-left: 260px;
	margin-right: 140px;
	height: 300px;
	padding: 20px;
	border: 1px solid #666;
}
.container .main .content h1{
	font-size: 18px;
	padding: 6px;
}
.container .main .content h2{
	font-size: 14px;
	padding: 4px;
}
.container .main .content p{
	margin-top: 10px;
	padding-left: 4px;
}
.container .left{
	float: left;
	height: 80px;
	width: 200px;
	margin-left: -100%;
	border: 1px solid #666;
	padding: 20px;
}
.container .left span{
	position: relative;
	bottom: 50%;
	left: 10px;
	transform: translateY(-50%);
}
.container .right{
	float: left;
	height: 400px;
	width: 80px;
	/*由于border的原因得额外再补2px，-120px-2px*/
	margin-left: -122px;
	padding: 20px;
	border: 1px solid #666;
	text-align: center;
}
.container .right img{
	margin-bottom: 20px;
}
.container .right img:last-child{
	margin-bottom: 20px;
}