body, ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
/* 01 */
.flex-container1{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
    background-color: Silver;
    padding-bottom: 10px;
}
.flex-item1{
	background-color: tomato;
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;

	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
/* 02 */
.flex-container2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 1000px;
    height: 300px;
    background-color: Silver;
}
.flex-item2{
	background-color: tomato;
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}